#booklet{
    padding-left: 0;
    padding-right: 0;
  }
  .fundo-tecnicos{
      padding-top: 30px;
    padding-bottom: 0px;
  }
  .bto-imprimir{
      position: absolute;
      top: 80px;
      right: 50px;
  }
  .grupo-imprimir{
      position: relative;
  }
  .imgfloat-left{
    top: 150px;
    width: 300px;
    position: absolute;
    left: 2%
  }
  .imgfloat-right{
    top: 350px;
    width: 20%;
    position: absolute;
    right: 0;
  }
   .imgfloat-right2{
    top: 550px;
    width: 20%;
    position: absolute;
    right: -2%
  }
.bloco2{
    position: relative;
    background: #ffdfa6;
    background-image:  url('../images/01/div1.jpg');
    background-position:  left top;
	background-repeat: no-repeat;
}
.bloco4{
    position: relative;
    background: rgb(255,223,166);
    background: linear-gradient(180deg, rgba(255,223,166,1) 0%, rgba(224,169,70,1) 100%);
}
 .bloco6{
    background: #E0A946;
}
.bloco1{
    background-image: url('../images/01/bg1_esq.jpg');
    background-position: left top;
	background-repeat: no-repeat;
    background-color: #fff;
}
.bloco3{
    background-color: #FFF;
    background-image: url('../images/01/div1.jpg'), url('../images/01/div2.jpg');
    background-position: left bottom, left top;
	background-repeat: no-repeat;
}
.bloco5{
    background-color: #FFF;
    background-image: url('../images/01/div5.jpg'), url('../images/01/div4.jpg');
    background-position: left bottom, left top;
	background-repeat: no-repeat;
}
.bloco7{
    background-image: url('../images/02/div5.png');
    background-position:  left top;
	background-repeat: no-repeat;
}
.bloco2 > .container, .bloco3 > .container, .bloco4 > .container, .bloco5 > .container, .bloco6 > .container, .bloco7 > .container,  .bloco1 > .container{
	padding-top: 100px;
	padding-bottom: 100px;
}
.bloco1 > .container{
    background-color: #fff;
}

.gaitinha .panel.panel-default .panel-heading .panel-title a.collapsed {
    background: #0b3b4b !important;
    color: #fff !important;
}
.gaitinha .panel.panel-default .panel-heading .panel-title a {
    border: 2px solid #0b3b4b !important;
    background-color: #3a6472;
    color: #fff !important;

}
.gaitinha .panel.panel-default .panel-body {
    border-left: 2px solid #0b3b4b !important;
}
.iconeOlho li{
	list-style-image: url(../images/04/marcador.png) !important;
}
.painel-etapas, .painel-lei{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-etapa1,.btn-etapa2{
    width: 264px;
    height: 140px;
    background-color: transparent;
  border: none;
}
.btn-etapa1{
    margin-right: 10px;
    background-image: url(../images/02/bt1.png);    
}
.btn-etapa1:hover{
    background-image: url(../images/02/bt1_hover.png);    
}
.btn-etapa2{
    margin-left: 10px;
    background-image: url(../images/02/bt2.png);    
}
.btn-etapa2:hover{
    background-image: url(../images/02/bt2_hover.png);    
}
.btn-lei1{
    width: 310px;
    height: 249px;
    background-color: transparent;
  border: none;
    background-image: url(../images/02/bt_lei.png);   
}
.btn-lei1:hover{
    background-image: url(../images/02/bt_lei_hover.png);   
}
.boxmore{
    position: relative;
    padding-bottom: 20px;
}
.caixa-more{
    height: 300px;
    overflow: hidden;
    padding-bottom: 50px;
}
.caixa-more.abre{
    height: auto;
}
.bt_more{position: absolute; bottom: 0px; left: 0; right: 0; margin:  0 auto; transition: all 0.3s ease-in-out; cursor: pointer;}
.bt_more:hover{
    bottom: 10px;
    
}
.selo{ max-width: 120px;}
@media (max-width: 1600px) {
    .imgfloat-right, .imgfloat-right2, .imgfloat-left{
        width: 12%;
    }
}
@media (max-width: 1300px) {
    .imgfloat-right, .imgfloat-right2, .imgfloat-left{
        display: none;
    }
}
@media (max-width: 1300px) {
    .bloco2 > .container, .bloco3 > .container, .bloco4 > .container, .bloco5 > .container, .bloco6 > .container, .bloco7 > .container  {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

