
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.bloco2, .bloco4, .bloco6{
    position: relative;
    background: rgb(36,154,186);
    background: linear-gradient(180deg, rgba(36,154,186,1) 0%, rgba(30,139,176,1) 100%);
    color: #fff;
}
.bloco1{
    background-image: url('../images/02/div1.png');
    background-position: left bottom;
	background-repeat: no-repeat;
}
.bloco3, .bloco5{
    background-image: url('../images/02/div1.png'), url('../images/02/div4.png');
    background-position: left bottom, left top;
	background-repeat: no-repeat;
}
.bloco7{
    background-image: url('../images/02/div4.png');
    background-position:  left top;
	background-repeat: no-repeat;
}
.bloco2 > .container, .bloco3 > .container, .bloco4 > .container, .bloco5 > .container, .bloco6 > .container, .bloco7 > .container,  .bloco1 > .container{
	padding-top: 100px;
	padding-bottom: 100px;
}

.imgfloat-left{
    top: 150px;
    width: 300px;
    position: absolute;
    left: 2%
  }
  .imgfloat-right{
    top: 350px;
    width: 20%;
    position: absolute;
    right: 0;
  }
   .imgfloat-right2{
    top: 550px;
    width: 20%;
    position: absolute;
    right: 0%
  }
.gaitinha .panel.panel-default .panel-heading .panel-title a.collapsed {
    background: #0b3b4b !important;
    color: #fff !important;
}
.gaitinha .panel.panel-default .panel-heading .panel-title a {
    border: 2px solid #0b3b4b !important;
    background-color: #3a6472;
    color: #fff !important;

}
.gaitinha .panel.panel-default .panel-body {
    border-left: 2px solid #0b3b4b !important;
}
.iconeOlho li{
	list-style-image: url(../images/04/marcador.png) !important;
}
.painel-etapas, .painel-lei{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-etapa1,.btn-etapa2{
    width: 264px;
    height: 140px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn-etapa1{
    margin-right: 10px;
    background-image: url(../images/02/bt1.png);    
}
.btn-etapa1:hover{
    background-image: url(../images/02/bt1_hover.png);    
}
.btn-etapa2{
    margin-left: 10px;
    background-image: url(../images/02/bt2.png);    
}
.btn-etapa2:hover{
    background-image: url(../images/02/bt2_hover.png);    
}
.btn-lei1{
    width: 310px;
    height: 249px;
    background-color: transparent;
  border: none;
    background-image: url(../images/02/bt_lei.png);   
}
.btn-lei1:hover{
    background-image: url(../images/02/bt_lei_hover.png);   
}
.cards{
    position: relative;
    height: 400px;
    width: 100%;
}
.cardFlip {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .contentcard {
    position: absolute;
    width: 100%;
    height: 100%;
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .cardFlip:hover .contentcard {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .frontFlip,
  .backFlip {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 300px;
    color: #03446A;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .backFlip {
    color: white;
    transform: rotateY( 180deg );
  }
  
@media (max-width: 1600px) {
    .imgfloat-right, .imgfloat-right2, .imgfloat-left{
        width: 12%;
    }
}
@media (max-width: 1300px) {
    .imgfloat-right, .imgfloat-right2, .imgfloat-left{
        display: none;
    }
}

@media (max-width: 768px) {
    .btn-etapa1,.btn-etapa2{
        display: block;
        margin: 10px auto;

    }
}