.paginas {
    background: url('../images/06/bg_dir.png') right, url('../images/06/bg_esq.png') left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.divisoria {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container {
    background-color: #ffffff;
    position: relative;
    z-index: 1003;
    border-radius: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.bloco1 .container {
    padding-top: 3%;
    padding-bottom: 3%;
    top: 5px;
}


.img-menor {
    display: block;
    max-width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-menor2 {
    display: block;
    max-width: 49%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.regular {
    width: calc(100% - 5px);
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    height: calc(100% - 10px);
    margin: 0 5px 2px 0;
    display: inline-block;
    text-align: left;
    font-weight: unset;
}

.regular:hover {
    color: #50D7E2;
    background: #fff;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010 !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1009 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.grupo-imprimir button.bto-imprimir {
    position: relative;
    padding-top: 11.4px;
    padding-bottom: 11.4px;
    padding-left: 11.4px;
    padding-right: 11.4px;
    z-index: 1004;
}

.fundo-tecnicos {
    padding: 30px 0 0 0;
}

#booklet>header {
    margin-top: 80px;
    padding-right: 25vw;
    padding-top: 0px;
    margin-bottom: -80px;
}

.margin-l {
    left: 10%;
}

table.senac th {
    background-color: #114454;
    color: #45c0cd;
    border: solid 1px #114454 !important;
}

table.senac td {
    text-align: center;
    background-color: #bbc3c3;
    color: #000;
    font-weight: bold;
    border: solid 1px #114454 !important;
}

table.senac {
    margin: 0 auto 2em;
    width: 38%;
    border: solid 1px #114454 !important;
    border-radius: 30px;
    height: 250px;
    overflow: hidden;
}

/*---------- MENU ----------*/
.eng-item-menu {
    opacity: 1;
    margin: 0;
    padding: 0;
}

.eng-item-menu hr {
    width: 75%;
    position: relative;
    background-color: #50D7E2;
    margin: 0 auto;
    height: 1px;
    border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    width: 100%;
    background-color: #50D7E2;
    cursor: pointer;
    position: relative;
    margin-bottom: 0 !important;
    padding: 5px 10px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover {
    transition: 0.3s;
    background-color: #50D7E2;
}

.fundo-item {
    width: calc(100% - 5px);
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    height: calc(100% - 10px);
    margin: 0 5px 2px 0;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.fundo-item:focus {
    color: #fff;
    text-decoration: none;
}

.fundo-item:hover {
    color: #50D7E2;
    background: #fff;
    text-decoration: none;
}

.menu,
.bg-fundo {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-checkbox {
    position: fixed;
    left: 0;
    top: 0;
    left: -30px;
}

.menu {
    width: 340px;
    height: 100%;
    transform: translate3d(-340px, 0, 0);
    transition: transform 0.35s;
    z-index: 999999999999;
}

.mod {
    display: block;
}

.overflow {
    position: relative;
}

.fade-check {
    transform: translate3d(0, 0, 0);
}

.menu ul {
    display: block;
    position: relative;
    height: 100%;
}

.menu label.menu-toggle {
    position: absolute;
    top: 80px;
    right: -50px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    display: block;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    background: #50D7E2 url("../images/menu-alt.png") 50% 50%/25px 25px no-repeat;
}

.fade-check label.menu-toggle {
    background: #50D7E2 url("../images/menu-alt-close.png") 50% 50%/25px 25px no-repeat;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
    background: none;
}

.scroll-bar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 50px;
}

.scroll-bar:first-child {
    margin-left: 0px;
}

.force-overflow {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

/*---------- FIM MENU ----------*/
.espera {
    max-width: 100%;
    width: 750px;
    height: 451px;
    top: 835px;
    left: 345px;
    border-radius: 8px;
    border: 1px;
    margin: auto;
    background: linear-gradient(0deg, #DFDFDF, #DFDFDF),
        linear-gradient(0deg, #E4E4E4, #E4E4E4);
    border: 1px solid #DFDFDF
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-final {
    text-align: center;
}

.moldura img {
    filter: drop-shadow(#333 1px 3px 3px);
}

.moldura figcaption,
.legenda {
    font-size: 12px;
}


figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 0.8em;
}


.caixa-especial {
    background: url('../images/06/destaque_importante.png') no-repeat;
    width: 873px;
    height: 206px;
    position: relative;
}

.caixa-especial p {
    color: #fff;
    padding: 30px 11px 48px 104px;
}

.importante2 {
    background: url('../images/importante.png') no-repeat;
    width: 157px;
    height: 156px;
    position: absolute;
    top: 30px;
    left: -70px;
}

.caixa-especial2 {
    background: url('../images/06/destaqiue_exemplo.png') no-repeat;
    width: 873px;
    height: 326px;
    position: relative;
}

.caixa-especial2 p {
    color: #fff;
    padding: 15px 7px 0px 104px;
}

.exemplo2 {
    background: url('../images/fundamental.png') no-repeat;
    width: 156px;
    height: 156px;
    position: absolute;
    top: 78px;
    left: -70px;
}

.caixa-especial3 {
    background: url('../images/06/destaque_importante.png') no-repeat;
    width: 873px;
    height: 206px;
    position: relative;
}

.caixa-especial3 li {
    color: #fff;
    padding: 9px 10px 1px 0px;
}

.caixa-destaque,
.caixa-destaque-livre {
    background-color: #0b3b4b;
}

.caixa-destaque p {
    color: #ffff;
}

.painel-alicerces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-missao {
    background: url('../images/06/painel1_bt1.png') no-repeat;
    width: 258px;
    height: 279px;
    border: none !important;
    margin: 10px;
}

.btn-missao:hover {
    transform: scale(1.1);
}

.btn-visao {
    background: url('../images/06/painel1_bt2.png') no-repeat;
    width: 242px;
    height: 265px;
    border: none !important;
    margin: 10px;
}

.btn-visao:hover {
    transform: scale(1.1);
}

.btn-valores {
    background: url('../images/06/painel1_bt3.png') no-repeat;
    width: 265px;
    height: 264px;
    border: none !important;
    margin: 10px;
}

.btn-valores:hover {
    transform: scale(1.1);
}

.caixa-destaque1 {
    background-color: #0086ad;
    color: #fff;
}

.painel-4ps{
    display: flex;
    flex-wrap: wrap; /* Permite que os botões quebrem a linha */
    justify-content: center;
    align-items: center;
}

.btn-produto{

    width: 280px;
    height: 316px;
}

.btn-produto:hover{
    transform: scale(1.1);
}

.btn-preco{
    background: url('../images/06/painel2_bt2.png') no-repeat;
    width: 280px;
    height: 316px;
}

.btn-preco:hover{
    transform: scale(1.1);
}

.btn-praca{
    background: url('../images/06/painel2_bt3.png') no-repeat;
    width: 280px;
    height: 316px;
}

.btn-praca:hover{
    transform: scale(1.1);
}

.btn-promocao{
    background: url('../images/06/painel2_bt4.png') no-repeat;
    width: 280px;
    height: 316px;
}

.btn-promocao:hover{
    transform: scale(1.1);
}

.btn-produto, .btn-preco, .btn-praca, .btn-promocao {
    width: calc(40% - 20px); 
    margin: 10px; 
    border: none !important;
    transition: transform 0.2s;}






.caixa-destaque1 {
    padding: 2em;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

.icone-atencao1 {
    padding-left: 100px;
    background-position: 10px 44px;
    padding-top: 5%;
    background-size: 100px 100px;
    background-image: url(../images/atencao.png);
    background-repeat: no-repeat;
}

.caixa-destaque1.icone-atencao1 {
    padding-left: 140px;
    padding-right: 75px;
}

.etapa {
    width: 100%;
}

.caixa-exemplos {
    background-color: #1e86ab;
    color: #fff;
}


/*painel de abas*/
.nav-tabs li a {
    background-color: #28adb0 !important;
    color: #ffffff !important;
    margin-right: 0;
    padding-top: 16px;
}

.nav-tabs li.active a,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
    color: #28adb0 !important;
    background-color: #ffffff !important;
    margin-right: 0;
}

.tab-content,
.tab-pane {
    background-color: #28adb0;
    color: #ffffff;
}

.nav-tabs {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.tab-content>.tab-pane {
    padding: 0;
    border: none;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: flex;
}

.nav-tabs li {
    flex: 1;
    border-radius: 20px 20px 0 0;
    color: white !important;
}

.tab-content {
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

a,
.panel-title {
    color: #ffffff !important;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: #28adb0;
    border-bottom: none;
}

.nav-tabs li {
    flex: 1;
    color: white !important;
    margin-right: 0;
}

.tab-content {
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background-color: #28adb0;
    color: white;
}

.tab-pane {
    background-color: transparent;
    border: none;
}

.gifs {
    max-width: 800px;
    border: 1px solid green;
}

.gifs>img {
    max-width: 100%;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('../images/zoom_ie.png');
    display: block;
    width: 56px;
    height: 26px;
    right: 0px;
    top: 4px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.img-zoom1 {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom1::after {
    content: url('../images/zoom_ie.png');
    display: block;
    width: 56px;
    height: 26px;
    right: 92px;
    top: 4px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.selo {
    max-width: 60%;
    margin-bottom: 3%;
}

table.senac td {
    font-weight: unset;
}

table.senac {
    width: 66%;
}

.gaitinha .panel.panel-default .panel-heading .panel-title a {
    border: 2px solid #0b3b4b !important;
    color: black !important;
    border-radius: 20px;
    padding: 1.2rem;
}

.gaitinha .panel.panel-default .panel-heading .panel-title a.collapsed {
    background: #0b3b4b !important;
    color: #ffff !important;
}

.gaitinha .panel.panel-default .panel-body {
    border: 0;
    border-left: 2px solid #0b3b4b !important;
    margin-left: 20px;
    margin-top: 3px;
}










@media (max-width: 1440px) {

    .grupo-imprimir {
        width: 1184px;
    }
}



@media (max-width: 1370px) {
    .grupo-imprimir {
        width: 1152px;
    }
}

@media (max-width: 1025px) {
    .grupo-imprimir {
        width: 1000px;
    }
}

@media (max-width: 820px) {


    .grupo-imprimir button.bto-imprimir {
        background: #50D7E2;
        color: #fff;
        margin-left: 108%;
    }

    .grupo-imprimir {
        width: unset;
    }

    .bloco1 .container {
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: 4%;
    }

    .img-zoom1::after {
        content: url(../images/zoom_ie.png);
        display: block;
        width: 56px;
        height: 26px;
        right: -1px;
        top: 4px;
        position: absolute;
        filter: drop-shadow(#333 3px 3px 4px);
    }

    .bloco1 .container {
        margin-bottom: 105px;
    }


    .paginas {
        background: unset;
    }

    .painel-alicerces {
        flex-direction: column;
        align-items: center !important;
    }

    .btn-missao,
    .btn-visao,
    .btn-valores {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }

    .btn-produto, .btn-preco, .btn-praca, .btn-promocao {
        width: calc(50% - 20px);
        margin: 10px;
        border: none !important;
        transition: transform 0.2s;
    }


}

@media (max-width: 768px) {

    table.senac {
        margin: 0 auto 2em;
        width: 100%;
        border: solid 1px #114454 !important;
        border-radius: 30px;
        height: unset;
        overflow: hidden;
    }

    .bloco1 .container {
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: 4%;
    }

}

@media (max-width: 550px) {
    .caixa-destaque1>div.caixa-destaque1 {
        width: 100%;
        padding: 5px
    }

    .caixa-destaque1.icone-atencao1 {
        background-position: center 10px;
        padding-left: 0.9em;
        padding-right: 0.9em;
        padding-top: 100px;
        line-height: 1.7;
    }

    .img-zoom::after {
        content: url(../images/zoom_ie.png);
        display: block;
        width: 56px;
        height: 26px;
        right: -32px;
        top: -13px;
        position: absolute;
        filter: drop-shadow(#333 3px 3px 4px);
    }
    .btn-missao, .btn-visao, .btn-valores {
        width: 100%;
        max-width: 255px;
        margin: 10px 0;
    }
    .painel-4ps {
        flex-direction: column; /* Alinha os botões em uma coluna */
        align-items: center; /* Centraliza os botões na tela */
    }

    .btn-produto, .btn-preco, .btn-praca, .btn-promocao {
        width: 79%; /* Faz os botões ocuparem a largura total do contêiner */
        margin: 10px 0; /* Espaçamento entre os botões no modo coluna */
    }


}

@media (max-width: 420px) {


    .bloco1 .container {
        margin-bottom: 100px;
    }


    .bloco1 .container {
        padding-top: 18%;
        padding-bottom: 5%;
    }

    .grupo-imprimir {
        margin-left: 90%;
    }

    .fundo-tecnicos {
        padding: 16px 0 0 0;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .selo {
        max-width: 35%;
        margin-bottom: 3%;
    }

}


@media (max-width: 380px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-produto, .btn-preco, .btn-praca, .btn-promocao {
        width: 81%;
        margin: 10px 0;
    }
}