.bloco1 {
    background-image: url('../images/01_02_03/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
}

.bloco2 {
    background-image: url('../images/01_02_03/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bloco3 {
    background-image: url('../images/01_02_03/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .bg1 {
    background-color: #0b3b4b;
    margin-top: -5%;
    z-index: 1002;
    position: relative;
} */

.bloco-x {
    background-color: #0b3b4b;
    position: relative;
    background-size: cover;
    padding-bottom: 5%;
}

.img-div {
    max-width: 45%;
    height: auto;
    position: relative;
    z-index: 1010;
    margin-top: -3%;
    margin-bottom: -5%;
}

.img-div-2 {
    max-width: 45%;
    height: auto;
    position: relative;
    z-index: 1010;
    margin-top: -5%;
    margin-bottom: -3%;

}

.container {
    background-color: #ffffff;
    position: relative;
    z-index: 1003;
    border-radius: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.bloco1 .container {
    padding-top: 3%;
    padding-bottom: 5%;
    top: 100px;
}

.bloco2 .container {
    padding-top: 6%;
    margin-top: -5%;
    position: relative;
    z-index: 1003;
    padding-bottom: 6%;
}

.bloco3 .container {
    padding-top: 6%;
    margin-top: -5%;
    position: relative;
    z-index: 1003;
}

.img-menor {
    display: block;
    max-width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-menor2 {
    display: block;
    max-width: 49%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.regular {
    width: calc(100% - 5px);
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    height: calc(100% - 10px);
    margin: 0 5px 2px 0;
    display: inline-block;
    text-align: left;
    font-weight: unset;
}

.regular:hover {
    color: #50D7E2;
    background: #fff;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010 !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1009 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.grupo-imprimir button.bto-imprimir {
    position: relative;
    padding-top: 11.4px;
    padding-bottom: 11.4px;
    padding-left: 11.4px;
    padding-right: 11.4px;
    z-index: 1004;
}

.fundo-tecnicos {
    padding: 30px 0 0 0;
}

#booklet>header {
    margin-top: 80px;
    padding-right: 25vw;
    padding-top: 0px;
    margin-bottom: -80px;
}

.margin-l {
    left: 10%;
}

table.senac th {
    background-color: #114454;
    color: #45c0cd;
    border: solid 1px #114454 !important;
}

table.senac td {
    text-align: center;
    background-color: #bbc3c3;
    color: #000;
    font-weight: bold;
    border: solid 1px #114454 !important;
}

table.senac {
    margin: 0 auto 2em;
    width: 38%;
    border: solid 1px #114454 !important;
    border-radius: 30px;
    height: 250px;
    overflow: hidden;
}

/*---------- MENU ----------*/
.eng-item-menu {
    opacity: 1;
    margin: 0;
    padding: 0;
}

.eng-item-menu hr {
    width: 75%;
    position: relative;
    background-color: #50D7E2;
    margin: 0 auto;
    height: 1px;
    border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15,
.item16,
.item17,
.item18,
.item19,
.item20,
.item21,
.item22,
.item23,
.item24,
.item25,
.item26,
.item27,
.item28,
.item29,
.item30 {
    width: 100%;
    background-color: #50D7E2;
    cursor: pointer;
    position: relative;
    margin-bottom: 0 !important;
    padding: 5px 10px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover,
.item15:hover,
.item16:hover,
.item17:hover,
.item18:hover,
.item19:hover,
.item20:hover,
.item21:hover,
.item22:hover,
.item23:hover,
.item24:hover,
.item25:hover,
.item26:hover,
.item27:hover,
.item28:hover,
.item29:hover,
.item30:hover {
    transition: 0.3s;
    background-color: #50D7E2;
}

.fundo-item {
    width: calc(100% - 5px);
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    height: calc(100% - 10px);
    margin: 0 5px 2px 0;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.fundo-item:focus {
    color: #fff;
    text-decoration: none;
}

.fundo-item:hover {
    color: #50D7E2;
    background: #fff;
    text-decoration: none;
}

.menu,
.bg-fundo {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-checkbox {
    position: fixed;
    left: 0;
    top: 0;
    left: -30px;
}

.menu {
    width: 340px;
    height: 100%;
    transform: translate3d(-340px, 0, 0);
    transition: transform 0.35s;
    z-index: 999999999999;
}

.mod {
    display: block;
}

.overflow {
    position: relative;
}

.fade-check {
    transform: translate3d(0, 0, 0);
}

.menu ul {
    display: block;
    position: relative;
    height: 100%;
}

.menu label.menu-toggle {
    position: absolute;
    top: 80px;
    right: -50px;
    width: 50px;
    height: 50px;
    line-height: 0px;
    display: block;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    background: #50D7E2 url("../images/menu-alt.png") 50% 50%/25px 25px no-repeat;
}

.fade-check label.menu-toggle {
    background: #50D7E2 url("../images/menu-alt-close.png") 50% 50%/25px 25px no-repeat;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
    background: none;
}

.scroll-bar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 50px;
}

.scroll-bar:first-child {
    margin-left: 0px;
}

.force-overflow {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

/*---------- FIM MENU ----------*/
.espera {
    max-width: 100%;
    width: 750px;
    height: 451px;
    top: 835px;
    left: 345px;
    border-radius: 8px;
    border: 1px;
    margin: auto;
    background: linear-gradient(0deg, #DFDFDF, #DFDFDF),
        linear-gradient(0deg, #E4E4E4, #E4E4E4);
    border: 1px solid #DFDFDF
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-final {
    text-align: center;
}

.moldura img {
    filter: drop-shadow(#333 1px 3px 3px);
}

.moldura figcaption,
.legenda {
    font-size: 12px;
}

/*---------- painel treinamento modais normais----------*/

.painel-treinamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    justify-items: center;
    align-items: center;
    margin: 30px 0px;
}

.painel-treinamento button {
    margin: 0;
    padding: 0;
    max-width: 80%;
}

.btn-treinamento1 {
    background: url('../images/01_02_03/info1_bt1_1.png');
    width: 220px;
    height: 397px;
    margin: 15px;
    border: none !important;
}

.btn-treinamento1:hover,
.btn-treinamento2:hover,
.btn-treinamento3:hover,
.btn-treinamento4:hover,
.btn-treinamento5:hover,
.btn-treinamento6:hover {
    transform: scale(1.1);
}


.btn-treinamento2 {
    background: url('../images/01_02_03/info1_bt_2.png');
    width: 220px;
    height: 397px;
    margin: 15px;
    border: none !important;
}

.btn-treinamento3 {
    background: url('../images/01_02_03/info1_bt_3.png');
    width: 220px;
    height: 398px;
    margin: 15px;
    border: none !important;
}

.btn-treinamento4 {
    background: url('../images/01_02_03/info1_bt_4.png');
    width: 220px;
    height: 397px;
    margin: 15px;
    border: none !important;
}

.btn-treinamento5 {
    background: url('../images/01_02_03/info1_bt_5.png');
    width: 220px;
    height: 397px;
    margin: 15px;
    border: none !important;
}

.btn-treinamento6 {
    background: url('../images/01_02_03/info1_bt_6.png');
    width: 220px;
    height: 398px;
    margin: 15px;
    border: none !important;
}

/*---------- fim painel exemplos modais normais----------*/

.painel-passos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 30px 0px;
}

.passo1 {
    width: 400px;
    height: 204px;
}

.passo2 {
    width: 400px;
    height: 204px;
}

.passo3 {
    width: 400px;
    height: 197px;
    margin-left: 4%;
}

.passo4 {
    width: 400px;
    height: 193px;
    margin-left: 6%;
}

.passo5 {
    width: 400px;
    height: 204px;
}

.passo6 {
    width: 400px;
    height: 209px;
}

.passo7 {
    width: 400px;
    height: 197px;
    margin-left: 4%;
}

.passo8 {
    width: 400px;
    height: 190px;
    margin-left: 10%;
}

.margem-1 {
    margin-top: 5%;
}

.margem-2 {
    margin-top: 25%;
}

.margem-3 {
    margin-top: 10%;
}

.letra-menor {
    font-size: 14px;
}

.margem-div {
    margin-top: 5%;
    margin-bottom: 5%;
}


figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #1e86ab;
    font-weight: bold;
}

h3 {
    color: #4d4d4d;
    font-weight: bold;
}

h4 {
    color: #1e86ab !important;
    font-weight: bold;
}

li {
    margin-bottom: 0.8em;
}

.caixa-destaque,
.caixa-destaque-livre {
    background-color: #0b3b4b;
    color: #fff;
}

.caixa-destaque {
    width: 100%;
}

.caixa-destaque1 {
    background-color: #0086ad;
    color: #fff;
}

.caixa-destaque1 {
    padding: 2em;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

.icone-atencao1 {
    padding-left: 100px;
    background-position: 10px 44px;
    padding-top: 5%;
    background-size: 100px 100px;
    background-image: url(../images/atencao.png);
    background-repeat: no-repeat;
}

.caixa-destaque1.icone-atencao1 {
    padding-left: 140px;
    padding-right: 75px;
}

.letra-menor1 {
    font-size: 1em;
}

.etapa {
    width: 100%;
}

.caixa-exemplos {
    background-color: #1e86ab;
    color: #fff;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

/*painel de abas*/
.nav-tabs li a {
    background-color: #28adb0 !important;
    color: #ffffff !important;
    margin-right: 0;
    padding-top: 16px;
}

.nav-tabs li.active a,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
    color: #28adb0 !important;
    background-color: #ffffff !important;
    margin-right: 0;
}

.tab-content,
.tab-pane {
    background-color: #28adb0;
    color: #ffffff;
}

.nav-tabs {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.tab-content>.tab-pane {
    padding: 0;
    border: none;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: flex;
}

.nav-tabs li {
    flex: 1;
    border-radius: 20px 20px 0 0;
    color: white !important;
}

.tab-content {
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

a,
.panel-title {
    color: #ffffff !important;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: #28adb0;
    border-bottom: none;
}

.nav-tabs li {
    flex: 1;
    color: white !important;
    margin-right: 0;
}

.tab-content {
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background-color: #28adb0;
    color: white;
}

.tab-pane {
    background-color: transparent;
    border: none;
}

.gifs {
    max-width: 800px;
    border: 1px solid green;
}

.gifs>img {
    max-width: 100%;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('../images/zoom_ie.png');
    display: block;
    width: 56px;
    height: 26px;
    right: 0px;
    top: 4px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.img-zoom1 {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom1::after {
    content: url('../images/zoom_ie.png');
    display: block;
    width: 56px;
    height: 26px;
    right: 92px;
    top: 4px;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.selo {
    max-width: 60%;
    margin-bottom: 3%;
}



















@media (max-width: 1440px) {
    .img-div {
        margin-bottom: -4.6%;
    }

    .grupo-imprimir {
        width: 1184px;
    }
}


@media (max-width: 1400px) {
    .img-div {
        margin-bottom: -5%;
    }

    .img-div2 {
        margin-top: -1%;
    }
}


@media (max-width: 1370px) {
    .grupo-imprimir {
        width: 1152px;
    }
}



@media (max-width: 820px) {

    .margem-2,
    .margem-3 {
        margin-top: unset;
    }

    .painel-treinamento {
        grid-template-columns: repeat(2, auto);
    }

    .carousel-control {
        width: 8%;
    }

    .painel-passos {
        grid-template-columns: repeat(1, auto);
    }

    .img-div {
        margin-bottom: -5%;
        margin-top: -12%;
    }

    .grupo-imprimir button.bto-imprimir {
        background: #50D7E2;
        color: #fff;
        margin-left: 108%;
    }

    .grupo-imprimir {
        width: unset;
    }

    .bloco1 .container {
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: -11%;
    }

    .passo5 {
        margin-left: 4%;
    }

    .passo6 {
        margin-left: 3%;
    }

    .passo7 {
        width: 400px;
        height: 197px;
        margin-left: 9%;
    }

    .img-zoom1::after {
        content: url(../images/zoom_ie.png);
        display: block;
        width: 56px;
        height: 26px;
        right: -1px;
        top: 4px;
        position: absolute;
        filter: drop-shadow(#333 3px 3px 4px);
    }

    .img-div,
    .img-div-2 {
        display: none;
    }

    .bloco2 .container {
        padding-top: 6%;
        margin-top: 0%;
    }

    .bloco1 .container {
        margin-bottom: 105px;
    }

    .bloco3 .container {
        padding-top: 6%;
        margin-top: 1%;
        position: relative;
        z-index: 1003;
    }
}

@media (max-width: 768px) {
    .painel-exemplos {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    table.senac {
        margin: 0 auto 2em;
        width: 100%;
        border: solid 1px #114454 !important;
        border-radius: 30px;
        height: unset;
        overflow: hidden;
    }

    .bloco1 .container {
        padding-top: 3%;
        padding-bottom: 5%;
        margin-top: -12%;
    }

}

@media (max-width: 550px) {
    .caixa-destaque1>div.caixa-destaque1 {
        width: 100%;
        padding: 5px
    }

    .caixa-destaque1.icone-atencao1 {
        background-position: center 10px;
        padding-left: 0.9em;
        padding-right: 0.9em;
        padding-top: 100px;
        line-height: 1.7;
    }

    .img-zoom::after {
        content: url(../images/zoom_ie.png);
        display: block;
        width: 56px;
        height: 26px;
        right: -32px;
        top: -13px;
        position: absolute;
        filter: drop-shadow(#333 3px 3px 4px);
    }
}

@media (max-width: 420px) {

    .bloco-x {
        background-color: #0B3B4B;
    }

    .bloco2 .container {
        padding-top: 6%;
        margin-top: 0%;
    }

    .bloco3 .container {
        padding-top: 6%;
        margin-top: 0;
    }

    .img-div,
    .img-div-2 {
        display: none;
    }

    .painel-treinamento {
        grid-template-columns: 1fr;
        justify-content: center;

    }

    .bloco1 .container {
        margin-bottom: 100px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .bloco1 .container {
        padding-top: 18%;
        padding-bottom: 5%;
    }

    .grupo-imprimir {
        margin-left: 90%;
    }

    .fundo-tecnicos {
        padding: 16px 0 0 0;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .img-zoom1::after {
        content: url(../images/zoom_ie.png);
        display: block;
        width: 56px;
        height: 26px;
        right: -35px;
        top: -4px;
        position: absolute;
        filter: drop-shadow(#333 3px 3px 4px);
    }

    .selo {
        max-width: 35%;
        margin-bottom: 3%;
    }

}


@media (max-width: 380px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}